<h1>Edit your company</h1>

<form method="POST">
  <div class="form-group">
    <label for="">TV-portal name:</label>
    <input value="<%= form.name %>" type="text" class="form-control" name="name" required>
    <% if (typeof errors !== 'undefined' && errors.name) { %>
    <div class="invalid-feedback">
      <%= errors.name.message %>
    </div>
    <% } %>
  </div>
  <div class="form-group mt-3">
    <label for="">Your slug</label>
    <input value="<%= form.slug %>" type="text" class="form-control" name="slug" required>
    <% if (typeof errors !== 'undefined' && errors.slug) { %>
    <div class="invalid-feedback">
      <%= errors.slug.message %>
    </div>
    <% } %>
  </div>
  <div class="form-group mt-3">
    <label for="">Number of movies</label>
    <input value="<%= form.filmsCount %>" type="text" class="form-control" name="filmsCount"
      placeholder="Put a number here">
    <% if (typeof errors !== 'undefined' && errors.filmsCount) { %>
    <div class="invalid-feedback">
      <%= errors.filmsCount.message %>
    </div>
    <% } %>
  </div>
  <button type="submit" class="btn btn-primary mt-3">Edit</button>
</form>

<% if (typeof errors !== 'undefined') { %>
<div class="alert alert-danger mt-3">
  <h3 class="mb-3">Something went wrong...</h3>
  <ul>
    <% for (let key in errors) { %>
    <li><%= errors[key].message %></li>
    <% } %>
  </ul>
</div>
<% } %>